*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--semantic-color-surface-bg);
  color: var(--semantic-color-text-primary);
  font-family: var(--primitives-fontFamily-ui), sans-serif;
  font-size: calc(var(--primitives-fontSize-md) * 1px);
  line-height: var(--primitives-lineHeight-normal);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
}

code {
  font-family: var(--primitives-fontFamily-mono), monospace;
}
